html, body {
    margin: 0;
    background-color: #F3CCF3;
    font-family: "Single Day";
}
#main-container {
    display: grid;
    grid-template-areas: "randomfact randomfact hireme"
    "aboutme aboutme hireme"
    "footer footer footer";

    grid-template-columns: 2fr 2fr 2fr;
    gap: 15px;
    margin: 10px;
}

#randomfact {
    grid-area: randomfact;
    border: 2px black solid;
    border-radius: 10px;
    padding: 10px;
    opacity: 0.6;
    overflow: auto;
}
#ctext {
    animation-name: textshow;
    animation-duration: 3s;
}
@keyframes textshow {
    from {opacity: 0;};
    to {opacity: 1;}
}

#catimg   {
    float: left;
    width: 15%;
}

#hireme {
    grid-area: hireme;
    background-color: #E9A8F2;
    border-radius: 10px;
    padding: 10px;
}

#aboutme {
    grid-area: aboutme;
}

#footer  {
    grid-area: footer;
}

.custom-shape-divider-bottom-1703956060 {
    margin-top: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);  
}


.custom-shape-divider-bottom-1703956060 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 197px;
}

.custom-shape-divider-bottom-1703956060 .shape-fill {
    fill: #DC84F3;
}